<!-- HEADER BAR AND CATEGORIES BAR -->
<div class="container_12 top">

	<!-- HEADER BAR -->
	<div class="headerBar">

		<span class="leftHeaderBar">
		</span>
			
		<a href="#" id="logo">
			<img src="assets/dealchan_logo.png">
		</a>

		<span class="rightHeaderBar">
			<ul>
				<li class="about">
					<a href="#">About<span></span>
					</a>
				</li>
				<li class="socialButtons">
					<a target="_blank" href="#" class="facebookButton">
						<span>Facebook</span>
					</a>
				</li>
				<li class="socialButtons">
					<a target="_blank" href="#" class="twitterButton">
						<span>Twitter</span>
					</a>
				</li>
			</ul>
		</span>

	</div>

	<!-- CATEGORIES BAR -->
	<div class="categoriesBar">
		<ul>
			<li>
				<a href="#" id="priceNav">Price</a>
			</li>
			<li>
				<a href="#" id="categoryNav">Category</a>
			</li>
		</ul>
	</div>

</div>