<!-- HEADER BAR AND CATEGORIES BAR -->
<div class="container_12 top">

	<!-- HEADER BAR -->
	<div class="header-bar">

		<span class="left-header-bar">
		</span>
			
		<a href="#" id="logo">
			<img src="assets/dealchan_logo.png">
		</a>

		<span class="right-header-bar">
			<ul>
				<li class="about">
					<a href="#">About<span></span>
					</a>
				</li>
				<li class="social-buttons">
					<a target="_blank" href="#" class="facebook-button">
						<span>Facebook</span>
					</a>
				</li>
				<li class="social-buttons">
					<a target="_blank" href="#" class="twitter-button">
						<span>Twitter</span>
					</a>
				</li>
			</ul>
		</span>

	</div>

	<!-- CATEGORIES BAR -->
	<div class="categories-bar">
		<ul>
			<li>
				<%= link_to "Price", price_path %>
			</li>
			<li>
				<%= link_to "Category",category_path  %>
			</li>
		</ul>
	</div>

</div>