<!DOCTYPE html>
<html>

	<head>
		<title>Dealchan</title>

		<!-- partials for stylesheets -->
		<%= render 'layouts/stylesheets' %>
		
		<!-- for website security: dont worry about what this does (cross site request forgery) -->
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div>
			<ul id="jump-to-shortcut">
			</ul>
		</div>

		<!-- partials for header bar -->
		<%= render 'layouts/header' %>

		<%= yield %>
	</body>
	
</html>
