<!-- MAIN BODY -->
<div class="container_16 bottom">

	<% @deal_categories.each do |category| %>

		<!-- partials for container -->
		<!-- FOOD -->
		<%= render :partial => 'dealcontainer', :locals => {:category_id => category} %>


	<% end %>


</div>