<!-- MAIN BODY -->
<div class="container_16 bottom">

	<!-- dynamically render a deal container partial for each array item -->
	<% @deal_categories.each do |category| %>

		<%= render :partial => 'dealcontainer', :locals => {:category_id => category} %>

	<% end %>

</div>