/* FOUNDATION
------------------------------------------------------------------*/
body div p{
	font-family: Helvetica, Arial, Geneva, sans-serif;
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding: 0;
}

a, a:link, a:visited, a:active {
	font-weight:			bold;
	text-decoration:		none;
	color:					#4682b4;
}

a:hover {
	text-decoration:		none;
	color:					#164c76;
}


/* JUMP TO NAVIGATION SIDEBAR
------------------------------------------------------------------*/
ul#jump-to-shortcut {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 100px;
    left: -30px;
    list-style: none;
    z-index:9999;
}
ul#jump-to-shortcut li {
    width: 100px;
}
ul#jump-to-shortcut li a {
	text-align: right;		/* custom */
	padding-right: 20px;	/* custom */
	font-size: 90%;
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 40px;    
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}




/* TOP
------------------------------------------------------------------*/
.top {
	font-size: 18px;
}

.header-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 40px;
	background-color: #efefef;
	box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4); 
	-moz-box-shadow: inset 0 1px #fff, 0 1px 2px rgba(34,25,25,0.4); 
	-webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
	display: inline;
}

.categories-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin-top: 40px;
	width: 100%;
	height: 40px;
	background-color: #efefef;
	box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4); 
	-moz-box-shadow: inset 0 1px #fff, 0 1px 2px rgba(34,25,25,0.4); 
	-webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
	border-top: 1px solid #cfcaca; 
}

.categories-bar ul {
	margin-top: 5px;
	text-align: center;			/* centers the navigation bar */
	list-style: none;		/* eliminate list item marker */
}

.categories-bar ul li {
	display: inline;			/* needed to create horizontal effect */
	margin: 0;					/* fixes the categories bar margin */
	padding: 0;
}

.categories-bar ul li a {
	text-decoration: none;
	/*padding: .2em .1em;*/
	padding: 7px 10px 11px 10px;
}

.categories-bar a:hover {
	background-color: #bfc9ce;		/* hover over background color */
}

.categories-bar #priceNav {
	margin-left: -10px;
	padding: 7px 20px 11px 20px;
}

.categories-bar #categoryNav {
	margin-left: 0px;
}

.left-header-bar {
	float: left;
	display: inline;
}

#logo {
	position: absolute;
	left: 50%;					/* center the logo */
	margin-left: -100px;		/* 200px/2 = 100px */
}

#logo img{
	height: 40px;
	width: auto;
}

.right-header-bar {
	float: right;
	display: inline;
}

.right-header-bar ul {
	list-style-type: none;
	margin-top: 7px;
}

.right-header-bar ul li {
	float: left;
}

.about a {
	padding: 20px 15px 40px 5px;
	position: relative;
}

.about a:hover {
	background-color: #bfc9ce;			/* hover over background color */
}

.about span {
	position: absolute;
	padding: 0 10px 0 0;
	top: 30px;
	right: 0px;
	width: 7px;
	height: 6px;
	background-image: url(gray-down-arrow.png);
	background-position: top center;
	background-repeat: no-repeat;
}

/* DISPLAY CONTROLS FOR SOCIAL BUTTONS
------------------------------------------------------------------*/

.social-buttons a {
	float: left;
	background: url(social_buttons.png) no-repeat;
	overflow: hidden;
	width: 25px;
	height: 25px;
}

.social-buttons a span {
	display: none;				/* hide span text */
}

.social-buttons a.facebook-button {
	background-position: 0 0;
}

.social-buttons a.facebook-button:hover {
	background-position: -50px 0;
}

.social-buttons a.twitter-button {
	background-position: 0 -100px;
	margin-right: 50px;
}

.social-buttons a.twitter-button:hover {
	background-position: -50px -100px;
}







/* BOTTOM
------------------------------------------------------------------*/
body {

	background:#f3f1f2;
}

.bottom {
	margin-top: 100px;
}


/* DEAL CONTAINERS
------------------------------------------------------------------*/
.container-label {
	margin-top: 25px;
	border: solid 1px #888;
	text-align: center;
	height: 20px;
	width: auto;

	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.deal-container {
	padding: 10px 0px 10px 0px;
	border: solid 1px #888;

	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.deal-picture {
	background-color: #adadad;
	border: solid 1px #000;
	text-align: center;
	height: 150px;
	width: 150px;
}

.deal-title {
	margin-top: 5px;
	padding: 0px;
	border: solid 1px;
	text-align: center;
	font-weight: bold;
	height: 40px;
	width: auto;
}

.deal-description {
	margin-top: 5px;
	padding: 0px;
	border: solid 1px;
	text-align: center;
	height: 20px;
	width: auto;
}

.deal-description p {
	font-size: 120%;
}

.show-more-button {
	border: solid 1px #888;
	text-align: center;
	height: 20px;
	width: auto;
	margin-bottom: 25px;

	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.deal {
	margin: 10px;
}